@import "base.css";

.form-check-input {
  border: 1px solid black;
}

li > input {
  display: inline-block;
  width: 20px;
}

label {
  margin-bottom: 25px;
  margin-left: 20px;
  display: inline-block;
  width: auto;
}
