@import "base.css";

.vertical-line {
  width: 1px;
  background-color: #ccc;
  height: 100%;
  margin: 0 auto;
}

.details-table {
  margin-top: 30px;
  margin-left: 30px;
}

.details-table td:nth-child(1) {
  padding-bottom: 5px;
  padding-left: 10px;
  font-weight: bold;
  vertical-align: top;
}

.details-table td:nth-child(2) {
  overflow-wrap: break-word;
  padding-left: 15px;
  padding-bottom: 5px;
  font-weight: lighter;
  vertical-align: top;
}

#status-review {
  background-color: #ffdd6b;
  border-radius: 10px;
  padding: 2px;
}

#status-rejected {
  background-color: #eb5f5f;
  border-radius: 10px;
  padding: 2px;
}

#desc {
  margin-top: 10px;
  font-size: 14px;
}
