@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

/* color variables */
:root {
  --purple-pri: #350059;
  --light-pri: #9381a0;
  --yellow-sec: #efb015;
  --purple-sec: #835e9f;
  --gray-sec: #3e3e3e;
  --white-sec: #e8e8e8;
}

h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  margin-left: 40px;
  margin-right: 40px;
}

h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
}

hr {
  width: 97%;
  margin: auto;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 25px;
  background: black;
}

.container {
  font-family: "PT Sans";
  padding-top: 20px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.primary-btn {
  background-color: var(--purple-pri);
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 15px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  margin: 15px 2px;
  border-radius: 5px;
  transition-duration: 0.1s;
  cursor: pointer;
}

/* #primary-btn:hover {
    background-color: white;
    color: var(--purple-pri);
    border: 1px solid var(--purple-pri);
} */

.primary-btn:hover {
  background-color: var(--light-pri);
  color: white;
  border: 1px solid var(--purple-pri);
}

.dropdown {
  padding: 3px 3px;
  border-radius: 5px;
  border: 1px solid #555;
  width: 20%;
  height: 80%;
  color: black;
  font-family: "Open Sans";
}

.form-control {
  font-family: "Open Sans";
  width: 50%;
  padding: 4px 10px;
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 5px;
  outline: none;
  font-size: 12px;
}

.form-control:focus {
  border: 2px solid var(--gray-sec);
}

.form-label {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 15px;
  width: 100px;
  text-align: right;
}

.btn {
  background-color: var(--purple-pri);
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 15px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 15px 2px;
  border-radius: 5px;
  transition-duration: 0.1s;
  cursor: pointer;
  width: 0 auto;
}

.btn:hover {
  background-color: var(--light-pri);
  color: white;
  border: 1px solid var(--purple-pri);
}

.warning-msg {
  margin-top: 15px;
  color: rgb(126, 20, 20);
  font-weight: 700;
  font-size: 17px;
  text-align: center;
}

.green-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #56b97c;
  margin-right: 8px;
  margin-left: 5px;
}

.red-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c47171;
  margin-right: 8px;
  margin-left: 5px;
}

.orange-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffaa29;
  margin-right: 8px;
  margin-left: 5px;
}

.darkorange-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff8743;
  margin-right: 8px;
  margin-left: 5px;
}

.custom-add {
  background-color: var(--purple-pri);
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 12px;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  display: inline-block;
  margin: 5px 2px;
  border-radius: 5px;
  transition-duration: 0.1s;
  cursor: pointer;
}

.btn-return {
  background-color: #7c7c7c;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 15px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  margin: 15px 2px;
  border-radius: 5px;
  transition-duration: 0.1s;
  cursor: pointer;
}

.btn-text {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.btn-text:hover {
  color: #261d82;
}

.btn-text:active {
  color: #261d82;
}
